.hero-wrapper {
    width: 100%;
    margin: 0 auto;
}

.hero {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    background: #EDFFFD;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    & .hero__title-block {
        margin: 0 auto;
        margin-top: 35px;
        max-width: 740px;
        & .block__title {
            color: #ff6107;
            box-sizing: border-box;
            padding: 5px 12px;
            background: #fff;
            width: fit-content;
            border-radius: 4px;
            font-size: 24px;
            font-weight: 900;
            margin-bottom: 110px;
        }
        & .hero__title {
            font-size: 48px;
            font-weight: 700;
            color: #282828;
            & .hero__title-bigfont {
                font-size: 70px;
                font-weight: 700;
            }
        }
        & .hero__subtitle {
            max-width: 580px;
            font-size: 18px;
            font-weight: 400;
            color: #282828;
            margin-top: 65px;
            letter-spacing: 1px
        }
        & .hero__button {
            margin-top: 65px;
            color: #fff;
            border-radius: 30px;
            background: #2FB5A7;
            border: none;
            width: 220px;
            font-size: 18px;
            font-weight: 700;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &:hover {}
        }
    }
    & .hero__image {
        position: relative;
        margin: 0 auto;
        margin-top: 170px;
        max-height: 600px;
        & .hero__image-item-1 {
            position: relative;
            top: 30px;
            z-index: 10;
        }
        & .hero__image-item-2 {
            position: relative;
            top: -600px;
            left: -150px;
            z-index: 9;
        }
        & .hero__image-item-3 {
            position: relative;
            top: -1120px;
            left: 150px;
            z-index: 8;
        }
    }
}

.hero__icons-wrapper {
    width: 100%;
    max-width: 314px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    right: -50%;
    top: -160px;
    & .hero__icons-item {
        box-sizing: border-box;
        margin: 15px;
    }
}