<div class="hero-wrapper">
    <div class="hero">
        <div class="hero__title-block">
            <h2 class="block__title">Невероятно!</h2>
            <h1 class="hero__title"><span class="hero__title-bigfont">Гепасейв</span > <span style="color:#2FB5A7">–</span> Гимолайское здоровье для вашей печени! </h1>
            <h3 class="hero__subtitle">
                Пикрориза курроа - основной компонент произрастает на высоте 3500-5000 метров в Гималайских горах на территории Индии и Непала.</h3>
            <button class="hero__button">Узнать больше</button>
        </div>
        <div class="hero__image">
            <div class="hero__image-item-1">
                <img class="hero__image-item" src="../../../../../assets/img/productimg01.png">
            </div>
            <div class="hero__image-item-2">
                <img class="hero__image-item" src="../../../../../assets/img/productimg02.png">
            </div>
            <div class="hero__image-item-3">
                <img class="hero__image-item" src="../../../../../assets/img/productimg03.png">
            </div>
        </div>
    </div>
    <div class="hero__icons-wrapper">
        <div class="hero__icons-item"><img src="../../../../../assets/icons/heroicon01.png"></div>
        <div class="hero__icons-item"><img src="../../../../../assets/icons/heroicon02.png"></div>
        <div class="hero__icons-item"><img src="../../../../../assets/icons/heroicon03.png"></div>
        <div class="hero__icons-item"><img src="../../../../../assets/icons/heroicon04.png"></div>
    </div>
</div>