<div class="header-wrapper">
    <div class="header">
        <div class="header__logo">
            <div class="header__logo-img">
                <img class="header__logo-img" src="../../../../../assets/img/main_logo.png">
            </div>
        </div>
        <div class="header__navigation">
            <div class="navigation-wrapper">
                <ul>
                    <li class="header__navigation-item"><a>Главная</a></li>
                    <li class="header__navigation-item"><a>Статьи</a></li>
                    <li class="header__navigation-item"><a>О препарате</a></li>
                    <li class="header__navigation-item"><a>Где купить?</a></li>
                    <li class="header__navigation-item"><a>Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="header__button">Задать вопрос</div>
    </div>
</div>